
<div class="card">
  <div class="card-hearder p-3 text-center">
    <span class="h1">Posts</span>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <app-new-post (add)="addPost($event)"></app-new-post>
    </div>
    <div class="container-fluid p-3 border" *ngFor="let post of posts">
      <div class="row">
        <div class="col-12">
          <i class="fas fa-trash-alt float-right text-danger pl-3" role="button" (click)="removePost(post)"></i>
          <i class="fas fa-pencil-alt float-right" role="button" (click)="openModalEdit(post)"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-right">{{post.date | date:'dd/MM/yyyy'}}</div>
      </div>
      <div class="row">
        <div class="col-12">
          <ng-container  *ngFor="let commentField of post.comments">
            <span *ngIf="!commentField.id; else employee">
              {{commentField.comment}}
            </span>
            <ng-template #employee>
                <app-employee [id]="commentField.id" [field]="commentField.field"></app-employee>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
